// SCSS Variables & Breakpoints
$global-mobile-breakpoint: 812px;
$global-tablet-breakpoint: 1024px;
$global-max-width: 1440px;

// CSS Root Variables
:root {
  --color-background: #f6f7f8;
  --color-text-primary: #000000;
  --color-text-secondary: #2a3647;
  --color-primary: #2a3647;
  --color-button-hover: #124658;
  --color-button-active: #091931;
  --color-error: #e60026;
  --font-family: 'Inter', sans-serif;

  // Global Error Message Variables
  --error-font-family: var(--font-family);
  --error-font-size: 16px;
  --error-font-weight: 400;
  --error-line-height: 20px;

  --padding-left: 64px;
  --padding-right: 64px;
  --padding-top: 40px;
  --padding-bottom: 32px;
}

@media (max-width: 870px) {
  :root {
    --error-font-size: 14px;
  }
}

@media (max-width: 800px) {
  :root {
    --error-font-size: 12px;
  }
}

@media (max-width: $global-mobile-breakpoint) {
  :root {
    --padding-left: 32px;
    --padding-right: 32px;
    --padding-top: 48px;
    --padding-bottom: 48px;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-left: 16px;
    --padding-right: 16px;
    --padding-top: 24px;
    --padding-bottom: 24px;
  }
}